@import '../../../variables';

.table {
    display: flex;
    flex-wrap: wrap;
    flex: 5;
}

.thead, .tbody {
    width: 100%;
}

.tr {
    width: 100%;
    display: flex;
    min-height: 35px;
    max-height: 90px;
}

.td {
    flex: 1;
    margin: 2px;
    align-items: center;
    display: flex;
    justify-content: center;

    &.th {
        cursor: pointer;
    }
}

.th {
    min-width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: white;
}

.hidden {
    display: none;
}

.expanded {
    flex: none;
    animation: expand 0.8s forwards;
}

@keyframes expand {
    from {
        width: 50px;
        color: rgba(black, 0.0);
        height: 31px;
    }
    to {
        width: calc(100% - 100px);
        color: rgba(black, 1);
        height: auto;
    }
}

.notIncluded {
    background: $main-grey;
}

.full {
    background:$main-green;
}

.notFull {
    background: $main-orange;
}

.badAmount {
    background: $main-red;
}

.selectedListItem {
    background: $light-orange;
}

.td.th:hover {
    background: $light-grey;
}