@import '../../variables';

.header {
    background: $light-orange;
    display: flex;
    height: 90px;
    padding: 20px 50px;
    align-items: center;
    font-size: 1.5rem;
    justify-content: space-between;
}

.header_left {
    display: flex;
    align-items: center;
}

.headerLogo_container {
    position: relative;
    width: 150px;
    height: 100px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

    .headerLogo_letter {
        position: absolute;
        top: -9px;
        left: 0;
        color: $main-theme-color;
        font-size: 80px;
    }

    .headerLogo_word {
        position: absolute;
        top: 17px;
        left: 41px;
        color: $dark-grey;
        font-size: 46px;
    }
}

.headerUser {
    margin-left: 30px;
}