
$main-theme-color: #FF6803;

$main-green: #08FF00;
$main-orange: #FFA200;
$main-red: #FF0000;
$main-grey: #808080;
$main-blue: #007bff;

$light-orange: #FFD1B2;
$light-grey: #f5f5f5;

$dark-grey: #3D3D3D;
